.home {
  padding-top: 30px;
  text-align: center;
  background: #580377;
  min-height: 100vh;
  color: white;
  caret-color: transparent;
  align-items: center;
  align-self: center;
}

#trees {
  position: fixed;
  bottom: 0px;
  height: 100px;
  padding: 0px;
  display: block;
  align-content: normal;
  border: 0px solid rgb(0, 0, 0);
  overflow: hidden;
}


.site-setting {
  width: 40px;
  height: 40px;
  left: 40px;
  position: relative;

}

.site-setting:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.site-logo {
  position: relative;
}

button {
  position: relative;
  width: 12%;
  background: rgb(161, 229, 79);
  padding: 5px 27px;
  margin: 8px 0;
  border: 5px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  border-style: ridge;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding-top: 1%;
}

button:hover {
  background-color: rgb(119, 167, 61);
  transition: 0.3s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}