.home {
  padding-top: 0%;
  padding-bottom: 0%;
  background: #580377;
  text-align: center;
  background-image: url("https://cdn.discordapp.com/attachments/1080566050132865074/1163597931966894171/backgroundtrees.png?ex=65402805&is=652db305&hm=60dfbdc700b05f7c8cd1e9aae260b283191c3b8cc6aa86abe24706867c4c8faa&");
  min-height: 100vh;
  background-size: 25% 100%;
  color: white;
  caret-color: transparent;
  background-repeat: repeat-x;
  align-items: center;
  background-position: right top;
  align-self: center;
}

.site-setting {
  width: 3%;
  height: 3%;
  left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;

}

.site-setting:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.site-logo {
  position: relative;
}

button {
  position: relative;
  width: 10%;
  background: rgb(161, 229, 79);
  padding: 0 1%;
  margin: 0 0;
  border: 5px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 30%;
  border-style: ridge;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
  padding-top: 1%;

}

button:hover {
  background-color: rgb(119, 167, 61);
  transition: 0.3s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}